@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    font-size: 18px;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

.interface-cont {
    display: flex;
    max-height: 100vh;
}
.credit-card {
    width: 40%;
}

.aside-left {
    height: 100%;
}

.credit-card_img {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    color: var(--White);
}
.credit-card_img img {
    width: 340px;
}

.first-card {
    position: absolute;
    top: 20%;
    left: 18%;
}

.second-card {
    position: absolute;
    top: 54%;
    left: 23.5%;
}
.second-card p {
    position: absolute;
    bottom: 48%;
    right: 12%;
    font-size: .63rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.infront {
    position: absolute;
    top: 24px;
    left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 87%;
    height: 75%;
    box-sizing: border-box;
}

.circles {
    display: flex;
    align-items: center;
    gap: 12px;
}
.circles div:nth-child(1) {
    width: 34px;
    height: 34px;
    background-color: var(--White);
    border-radius: 50%;
}
.circles div:nth-child(2) {
    width: 14px;
    height: 14px;
    background-color: transparent;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.card-info h3 {
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 22px;
}
.card-info div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-info div p {
    text-transform: uppercase;
    font-size: .62rem;
    font-weight: 500;
    letter-spacing: .1rem;
}

.credit-card_info {
    display: grid;
    place-content: center;
    width: 60%;
    height: 100vh;
}

.credit-card_info form {
    display: grid;
    grid-template-columns: repeat(4, 72px);
    grid-template-rows: repeat(6, 36px) 56px;
    column-gap: 12px;
    row-gap: 8px;
}
.credit-card_info form label h4 {
    font-size: .6rem;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: solid;
}

.all-aside {
    grid-column: 1 / 5;
}

.only-down {
    align-self: self-end;
    margin-bottom: 4px;
}

.cvc-part {
    grid-column: 3 / 5;
}

.form-inputs {
    padding-left: 8px;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 6px;
}

.myc-input {
    padding-left: 8px;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 6px;
}

.confirm-button {
    padding: 0 10px;
    border: none;
    border-radius: 6px;
    background-color: var(--Very-dark-violet);
    color: var(--White);
    margin-top: 20px;
}

@media(max-width: 756px) {
     p {
        font-size: .3rem;
    }
    .interface-cont {
        flex-direction: column;
    }

    .aside-left {
        content: url(./images/bg-main-mobile.png);
    }

    .first-card {
        left: 12px;
        z-index: 2;
    }
    .second-card {
        top: 0;
        left: 24px;
    }
}